[Unit]
Description=Tailon service

[Service]
ExecStart=/usr/local/bin/tailon -c /vagrant/files/tailon.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
